/* lateral es el contenedor general */
.lateral{
    position: fixed;
    top: 0;
    transition: 0.3s;
    height: 100vh;
    width: 75px;
    border-right: 3px solid gray;
    white-space: nowrap;
    overflow: hidden;
}

.lateral__contexto{
    display: flex;
}

.lateral__titulo{
    width: calc(100% - 20px);
    background-color: rgb(199, 199, 199);
    border-bottom: 3px solid rgba(177, 177, 1, 0.966);
    padding: 10px;
}
.lateral__img{
    display: none;
    width: 50px;
    border-radius: 20px;
}
.lateral__pestanas__lista{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: skyblue;
}
.lateral__pestanas__lista__item{
    font-size: 14px;
    padding: 7px 0;
}
.lateral__pestanas__lista__item:hover{
    background-color: rgb(83, 171, 206);
}



/* Nivel 1 */

.lateral__modulos__lista__align{
    display: flex; 
    align-items: center;
    /* Alinea las imagenes de los modulos con los textos verticalmente */
}
.lateral__modulos__lista__item{
    background-color: rgb(219, 219, 219);
    padding: 4px 0;
    cursor: pointer;
}
.lateral__modulos__lista__item:hover{
    background-color:  rgb(194, 194, 194);
}
.lateral__modulos__lista__img{
    margin: 0 25px;
}



/* Nivel 2 */

.lateral__submodulo{
    list-style: none;
    background-color: rgb(173, 172, 172);
    margin-left: 20px;
}
.lateral__submodulo__disable{
    display: none;
}
.lateral__submodulo__item{
    padding: 10px;
}
.lateral__submodulo__item:hover{
    background-color: rgb(116, 116, 116);
}





/* Nivel 3 */

.lateral__opciones{
    list-style: none;
    background-color: rgb(151, 150, 150);
    margin-left: 20px;
}
.lateral__opciones__disable{
    display: none;
}
.lateral__opciones__item{
    padding: 10px;
}
.lateral__opciones__item:hover{
    background-color: rgb(88, 88, 88);
}

@media only screen and (min-width: 800px) {
    /*
        Este efecto solo funcionara apartir de los 800 pixeles en adelante
     */
    .lateral:hover{
        width: 30vw;
    }
}


@media only screen and (max-width: 800px) {
    .lateral{
        transform: translateX(-80vw);
        width: 80vw;
    }
    .lateral__img{
        display: block;
    }
    .lateral__active{
        transform: translate(0px);
    }

}